<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.homePagePic.dao.HomePagePicDao">


    <!--检查商品数量(一个商品只能有一个首页轮播图)-->
    <select id="checkGoods" resultType="int">
        select
          count(goods_code)
        from t_sys_home_page_pic
        where is_deleted = 0
          and image_state = 1
          and goods_code = #{goodsCode}
    </select>

    <!--检查排序号-->
    <select id="checkSortNo" resultType="int">
        select
          count(sort_no)
        from t_sys_home_page_pic
        where is_deleted = 0
          and image_state = 1
          and sort_no = #{sortNo}
    </select>

    <!-- 首页轮播图新增 -->
    <insert id="addHomePagePic">
        insert into t_sys_home_page_pic
        (
          image_code,
          image_path,
          sort_no,
          effective_on,
          effective_end,
          goods_code,
          image_state,
          is_deleted,
          creator,
          create_time,
          version
        )
        values
        (
          #{imageCode},
          #{imagePath},
          #{sortNo},
          #{effectiveOn},
          #{effectiveEnd},
          #{goodsCode},
          1,
          0,
          #{creator},
          now(),
          0
        )
    </insert>


    <!-- 首页轮播图新增 ==> 商品选择(分页查询) -->
    <select id="goodsChoosing" resultType="com.xzsd.pc.homePagePic.entity.GoodsChoosingVO">
        select
        g.goods_code     as goodsCode,
        g.goods_name     as goodsName,
        g.goods_state    as goodsState,
        fir.class_name   as firClassName,
        sec.class_name   as secClassName
        from
        t_sys_goods as g
        left join
        t_sys_catalogue_management as fir
        on
        g.fir_class_code = fir.class_code
        and fir.is_deleted = 0
        left join
        t_sys_catalogue_management as sec
        on
        g.sec_class_code = sec.class_code
        and sec.is_deleted = 0
        where
        g.is_deleted = 0
        <if test="goodsCode != null and goodsCode!=''">
            and g.goods_code like concat('%', #{goodsCode}, '%')
        </if>
        <if test="goodsName != null and goodsName!=''">
            and g.goods_name like concat('%', #{goodsName}, '%')
        </if>
    </select>

    <!-- 首页轮播图删除 -->
    <update id="removeHomePagePic" parameterType="java.lang.String">
        update t_sys_home_page_pic
        set
          is_deleted = 1,
          last_modified_by = #{userId},
          modified_time = now(),
          version = version + 1
        where
          image_code in
          <foreach item="item" index="index" collection="imageCode" open="(" separator="," close=")">
              #{item}
          </foreach>
    </update>

    <!-- 首页轮播图状态修改 -->
    <update id="updatePicState">
        update t_sys_home_page_pic
        set
          image_state      = #{imageState},
          last_modified_by = #{modifiedBy},
          modified_time    = now(),
          version = version + 1
        where is_deleted = 0
          and image_code = #{imageCode}
          and version = #{version}
    </update>

    <!-- 首页轮播图（列表）查询 -->
    <select id="imagesWithList" resultType="com.xzsd.pc.homePagePic.entity.ImagesWithListVO">
        select
          image_code  as imageCode,
          sort_no     as sortNo,
          image_path  as imagePath,
          image_state as imageState,
          effective_on as effectiveOn,
          effective_end as effectiveEnd,
          version as version
        from t_sys_home_page_pic
        where is_deleted = 0
        <if test="imageState != null and imageState != ''">
            and image_state = #{imageState}
        </if>
    </select>

</mapper>