<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.top.dao.TopDao">

    <!--顶部栏信息查询-->
    <select id="getTop" resultType="com.xzsd.pc.top.entity.TopInfo">
        select
          user_code  as currentUserCode,
          user_name  as userName,
          image_path as imagePath,
          role as role
        from t_sys_user
        where
          is_deleted = 0
          and user_code = #{userCode}
    </select>
</mapper>
